# platforms
platforms

# js builds
www/js/build
www/js/build-startup.js
www/js/built-app.js
www/js/build-winstore-jscompat.min.js

# html builds
www/index.html

# node files
node_modules

# Sublime Text project files
*.sublime-*
