<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pieszynski.hybrid.deutchlernen" version="0.0.9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Deutsch mit Spaß lernen</name>
    <description>Mała aplikacja do nauki niemieckiego.</description>
    <author email="android@pieszynski.com" href="http://www.pieszynski.com">pieszynski.com</author>
    <icon src="www\img\hires.png" />
    <content src="index.html" />
    <access origin="*" />

    <preference name='windows-target-version' value='8.1' />
</widget>
