<!DOCTYPE html>
<html ng-app="root" ng-controller="mainCtrl as main">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/material-design-iconic-font.min.css" />
        <link rel="stylesheet" type="text/css" href="css/startup.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title ng-bind="main.title">Deutsch mit Spaß lernen</title>
    </head>
    <body>
        <div class="titlebar">
            <div class="titlebar-content" ng-hide="main.isSearchModeOn">
                <div class="title-text">
                    <span class="menu-button menu-button-hidden md-menu ng-hide" ng-show="main.isLoaded"></span>
                    <span ng-bind="main.title">Deutsch mit Spaß lernen</span>
                </div>
                <div    class="search-button tapArea ng-hide"
                        ng-click="main.changeToSearchMode(true)"
                        ng-show="main.isLoaded"
                        af-focus="idSearchField"><span class="md-search"></span></div>
            </div>

            <div class="titlebar-content ng-hide" ng-show="main.isSearchModeOn">
                <div class="title-text">
                    <input  class="text-input titlebar-text-input"
                            type="text"
                            ng-change="main.searchWord(main.searchValue)"
                            ng-model="main.searchValue"
                            id="idSearchField" />
                </div>
                <div class="search-button tapArea" ng-click="main.changeToSearchMode(false)"><span class="md-close"></span></div>
            </div>
        </div>

        <div class="app-loading" ng-hide="main.isLoaded">
            <div class=""><span class="startup-anim md-settings-backup-restore md-2x"></span></div>
            <div class="lowquestion">Wczytuję aplikację...</div>
        </div>

        <div class="content search-results ng-hide" ng-show="main.isSearchModeOn">

            <div class="fixed-fill-scroll-container fix-content-top">
                <div class="couter-titlebar-atop">
                    <div    class="tile quiz quiz-active tapArea"
                            ng-repeat="sword in main.searchResults"
                            ng-show="sword.visible"
                            ng-click="main.selectSearchedWord(sword)">
                        <div class="activebig" ng-bind-html="sword.info"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="content ng-hide" ng-show="main.isLoaded">

            <!-- <div class="tile notify">
                <div class="notify notify-dismiss"><span class="md-close md-2x"></span></div>
                <div>To jest kawałek nowego i ciekawego powiadomienia, którego jeszcze nie można się pozbyć ;D</div>
            </div> -->

            <div class="tapArea" ng-click="main.tap()">

                <div class="tile quiz quiz-active">
                    <div class="lowtext">Aktualne słówko:</div>
                    <div class="activequestion" ng-bind-html="main.shown.text"></div>
                    <div class="lowtext">Po niemiecku?</div>
                    <div class="activeanswer" ng-bind-html="main.shown.info"></div>
                </div>

            </div>

            <div class="ng-hide" ng-show="main.prev">

                <div class="tile quiz quiz-previous">
                    <div class="lowtext">Poprzednie słówko:</div>
                    <div class="lowquestion" ng-bind-html="main.prev.text"></div>
                    <div class="lowtext">Po niemiecku?</div>
                    <div class="lowanswer" ng-bind-html="main.prev.info"></div>
                </div>

            </div>

            <div class="tapNext" ng-click="main.tap()">
                <span ng-bind="main.nextBtn"></span>
                <span class="md md-chevron-right"></span>
            </div>

        </div>


        <script type="text/javascript" src="cordova.js"></script>

        <!--
        <script src="js/angular.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>

        <script type="text/javascript" src="js/data.js"></script>
        <script type="text/javascript" src="js/index.js"></script> -->

        <script type="text/javascript" src="js/build-startup.js"></script>
        <!-- <script type="text/javascript" src="js/built-app.js"></script> -->
    </body>
</html>
