
@font-face{
    font-family:'Roboto-Regular';
    src:url('../fonts/Roboto-Regular.ttf') format('truetype')
}

html {
    min-height: 100%;
    line-height: 24px;
    font-size: 13px;
    font-family: 'RobotoDraft','Roboto-Regular',Helvetica,Arial,sans-serif;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
}

.hide {
    display: none;
}

.titlebar {
    font-size: 24px;
    color: white;
    background-color: #bf360c;
    box-shadow: 0px 2px 5px #888;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    top: 0px;
    padding: 20px 0px;
    width: 100%;
}

.titlebar .titlebar-content {
    margin: 0px 10px;
    height: 26px;
    margin-right: 40px;
}

.titlebar-content:before, .titlebar-content:after {
    content: ' ';
}

.titlebar-content:after {
    clear: both;
}

.content {
    margin-top: 75px;
}

.tapArea {
    cursor: pointer;
}

.tapNext {
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    margin: 20px;
    color: white;
    background-color: #bf360c;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #888;
    cursor: pointer;
}

.tile {
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 2px #888;
}

.quiz {
}

.quiz-active {
    background-color: white;
}

.quiz-previous {
    background-color: #ddd;
    color: #777;
}

.lowtext {
    font-size: 15px;
}

.activequestion {
    font-size: 25px;
    margin: 5px 0 25px 0;
    line-height: 32px;
}

.activeanswer {
    font-size: 25px;
    line-height: 32px;
}

.lowquestion {
    font-size: 20px;
    margin: 5px 0 25px 0;
}

.lowanswer {
    font-size: 20px;
}

.menu-button {
    float: left;
    margin-right: 15px;
}

.title-text {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.search-button {
    float: right;
    width: 30px;
    margin-right: 10px;
    position: absolute;
    right: 0px;
}

.notify {
    background-color: #afa;
}

.notify .notify-dismiss {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
}
