 @keyframes lrot {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}
@-webkit-keyframes lrot {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

.startup-anim {
    animation: lrot 1000ms linear infinite;
    -webkit-animation: lrot 1000ms linear infinite;
}

.startup-text {
    background-color: #ccc; /* wp8.1 */
    font-size: 20px;
    margin: 5px 0 25px 0;
}
